@namespace s "library://ns.adobe.com/flex/spark";

@font-face {
    src: url("/assets/fonts/FiraSans-Regular.ttf");
    fontFamily: myFontFamily;
    embedAsCFF: false;
}
.myStyle {
    fontFamily: myFontFamily;
    fontSize: 24;
    skinClass: ClassReference("flatSpark.skins.ScrollerSkin");
}
